h1 {
    margin: 0;
    padding: 0px;
    line-height: 1.5;
    color: black;
    text-shadow: 
        -1px -1px 0 red, 
        1px -1px 0 red, 
        -1px 1px 0 red, 
        1px 1px 0 red;
    font-family: "guttural", sans-serif;
    font-size: 500%;
    font-weight: lighter;
}