h5 {
    margin: 0;
    padding: 1px;
    line-height: 1;
    color: black;
    text-shadow: 
        -1px -1px 0 red,
        1px -1px 0 red,
        -1px -1px 0 red,
        1px -1px 0 red;
    font-family: "guttural";
    font-size: 300%;
    font-weight: lighter;
}