body{
  max-width: 1200px;
  margin: auto;
  background-color: black;
  color: red;
  }


button{
  background-color: rgb(39, 27, 27);
  color: red;
}

input{
  background-color: rgb(39, 27, 27);
  color: red;
 }

textarea{
  background-color: rgb(39, 27, 27);
  color: red;
}

.option-details {
  display: none;
}

input[name="option"][value="option1"]:checked ~ #option1-details {
  display: block;
}
  
input[name="option"][value="option2"]:checked ~ #option2-details {
  display: block;
}

select{
  color:red;
  background-color: rgb(39, 27, 27);
}


option{
  color: red;
  background-color: rgb(39, 27, 27);
}