body {
    max-width: 60em;
    margin: 0 auto;
    background-color: black;      
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: 
      "header header header"
      "aside-left main aside-right"
      "footer footer footer";
    padding: 0;
    height: 100vh;
  }
  
  header {
    grid-area: header;
    background-color: rgb(170, 0, 0);
    color: white;
    padding: 1em;
  }
  
  nav {
    grid-area: nav;
    position:relative;
    background-color: lightgray;
    color: black;
    padding: 1em;
  }
  
  main {
    grid-area: main;
    background-color: rgb(0, 0, 0);
    color: black;
    padding: 1em;
  }
  
  aside.left {
    grid-area: aside-left;
    background-color: rgb(7, 155, 7);
    color: white;
    padding: 1em;
  }
  
  aside.right {
    grid-area: aside-right;
    background-color: rgb(13, 25, 192);
    color: white;
    padding: 1em;
  }
  
  footer {
    grid-area: footer;
    background-color: gray;
    color: white;
    padding: 1em;
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-around; 
    align-items: center;
    list-style-type: none;}