div {border: 1px solid;}
.column_3{display: grid;grid-template-columns: 1fr;}













/**** Brealpoints ****/
@media screen and (min-width: 600px) {
    .column_3{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 768px) {
    .column_3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1200px) {
    .column_3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

  