img { max-width: 100%;
    height: auto;
}
html{
    scroll-behavior: smooth;
}
body{ 
    max-width: 1200px;
    background-color: rgb(26, 25, 25);
    margin: auto;
}

p{
    text-decoration: none;
    color: red;
}

.navcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1em;
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-around; 
    align-items: center;
}

h2{
    margin: 0;
    padding: 1px;
    line-height: 1;
    color: red;
    text-shadow: 
        -1px -1px 0 red,
        1px -1px 0 red,
        -1px -1px 0 red,
        1px -1px 0 red;
    font-size: 200%;
    font-weight: lighter;
}

h3{
    color: red;
}

footer{
    padding-bottom: 15px;
    grid-template-rows: 4fr;
}

.footercontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

h5 {
    margin: 0;
    padding: 1px;
    line-height: 1;
    color: red;
    text-shadow: 
        -1px -1px 0 red,
        1px -1px 0 red,
        -1px -1px 0 red,
        1px -1px 0 red;
    font-family: "necrofonticon";
    font-size: 250%;
    font-weight: lighter;
}